<div class="main-container">
  <header class="header-2">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="home" size="24"></clr-icon>
        <span class="title">Project Clarity</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="active nav-link nav-text">Home</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button
          type="button"
          class="btn btn-outline-primary"
          clrDropdownTrigger
        >
          Dropdown
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <ng-template [(clrIfOpen)]="open">
          <clr-dropdown-menu>
            <button type="button" clrDropdownItem>Does not close</button>
            <button type="button" clrDropdownItem (click)="close()">
              Closes the dropdown
            </button>
            <button type="button" clrDropdownItem>Does not close either</button>
          </clr-dropdown-menu>
        </ng-template>
      </clr-dropdown>
    </div>
  </div>
</div>
